---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/users/me?token=ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - gm-user
      X-Region:
      - aws
      - aws
    body:
      encoding: UTF-8
      string: '{"response":{"created_at":1321139114,"email":"kinnell+test@gmail.com","facebook_connected":false,"id":"3193012","image_url":null,"locale":"en","name":"Test
        Account","phone_number":"+1 4014020688","sms":false,"twitter_connected":false,"updated_at":1536822757,"user_id":"3193012","zip_code":null,"share_url":null,"share_qr_code_url":null,"mfa":{"enabled":false,"channels":[{"type":"phone_number","created_at":1536818229}]},"tags":["phone-us"]},"meta":{"code":200}}

'
  recorded_at: Sat, 03 Nov 2018 07:22:59 GMT
recorded_with: VCR 4.0.0
