---
http_interactions:
- request:
    method: get
    uri: https://api.groupme.com/v3/groups?token=ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Gm-Service:
      - conversations
      X-Region:
      - aws
      - aws
    body:
      encoding: UTF-8
      string: '{"response":[{"id":"44835935","group_id":"44835935","name":"Gaming
        Group","phone_number":"+1 3363554142","type":"private","description":"","image_url":null,"creator_user_id":"3193012","created_at":1538722180,"updated_at":1538722180,"office_mode":false,"share_url":null,"share_qr_code_url":null,"members":[{"user_id":"3193012","nickname":"Test
        Account","image_url":"","id":"384076097","muted":false,"autokicked":false,"roles":["admin","owner"],"name":"Test
        Account"}],"messages":{"count":0,"last_message_id":"","last_message_created_at":0,"preview":{"nickname":null,"text":null,"image_url":null,"attachments":[]}},"max_members":500},{"id":"44835934","group_id":"44835934","name":"MCU
        Discussion Group","phone_number":"+1 5307275175","type":"private","description":"","image_url":null,"creator_user_id":"3193012","created_at":1538722180,"updated_at":1538722180,"office_mode":false,"share_url":null,"share_qr_code_url":null,"members":[{"user_id":"3193012","nickname":"Test
        Account","image_url":"","id":"384076096","muted":false,"autokicked":false,"roles":["admin","owner"],"name":"Test
        Account"}],"messages[...]
